# =============== Java ===============
*.class     
*.jar
*.war
*.ear

# =============== Build ===============
/build/
/out/

# =============== Gradle ===============
.gradle/
/!gradle/wrapper/gradle-wrapper.jar
**/build/

# =============== IntelliJ IDEA ===============
.idea/
*.iml
*.iws
*.ipr

# =============== Logs ===============
*.log

# =============== OS 별 ===============
.DS_Store

# =============== TIL or docs 자동파일 (선택) ===============
*.swp
*.tmp   # Vim, 에디터 임시파일 방지용 (선택)
